body{
    background-color: lightgray;
}

header{
    font-family: 'Times New Roman', Times, serif;
}

a{
    color: red;
}

#chronos{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

tr:nth-child(odd) {
    background-color: rgb(100, 94, 94);
}
  
tr:nth-child(even) {
    background-color: white;
}

table{
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}

img{
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: red;
    display: flex;
    justify-content: center;
}

#important_tr{
    background-color: black;
    color: white;
}

#special{
    display: block;
    width: 80%;
    margin: auto;
    padding: 1.5rem;
    border: 2px dashed rgb(100, 40, 196);
    text-align: justify;
    color: rgb(100, 40, 196);
    background-color: rgb(211, 211, 211);
}